.page-section {

    padding:1.2rem 0;
}

@media (min-width: 768px) {

.page-section {
        padding: 2rem 0
}
    }

.page-section--no-b-padding-until-medium {
        padding-bottom:0;
    }

@media (min-width: 768px) {

.page-section--no-b-padding-until-medium {
            padding-bottom: 4.5rem
    }
    }

.page-section--no-b-padding-until-large {

        padding-bottom:0;

    }

@media (min-width: 1010px) {

.page-section--no-b-padding-until-large {
            padding-bottom: 3rem

    }
    }

.page-section__red {
        background-color: #a49b94;
    }

.page-section__red p {
        color: #FFF;
    }

.page-section--members {

        background-color: #a49b94;
    }

@media (min-width: 768px) {

.page-section--members {
            
            background:url('../../assets/images/background-white.jpg') top center no-repeat;
            background-size: cover
    }
    }

/* &--portfolio {
        background-color: #85715c;
        color: ;

        @mixin atMedium {
            
            background:url('../../assets/images/wood-background.jpg') top center no-repeat;
            background-size: cover;
        }
    } */

.page-section--contact {
        background-color: #909090;

    }

@media (min-width: 768px) {

.page-section--contact {
            
            background:url('../../assets/images/address-background.jpg') top center no-repeat;
            background-size: cover

    }
    }


.form__wrapper {
        background:rgba(255,255,255,.9);
        width:100%;
        max-width:100%;
        -webkit-box-sizing:border-box;
                box-sizing:border-box;
        padding:15px;
        margin:10% auto ;
        position:relative;
        z-index:1;
        -webkit-box-shadow:0 23px 4px -21px rgba(0, 0, 0, 0.9);
        box-shadow:0 23px 4px -21px rgba(0, 0, 0, 0.9);
    }

@media (min-width: 768px) {

.form__wrapper {
            width:700px
    }
    }

.form__text {
        border: none;   
        color:#373737;
        font-size: .8rem;
        font-weight: 300;
        max-width: 50rem;
        margin-left: auto;
        margin-right: auto;
    }

.form__container {
        padding:15px;
        border: 1px dashed rgba(55,55,55,0.3);
    
    }

.form__wrapper h2 {
        font-size:1.5em;
	    line-height:1.5em;
	    margin:0;
    }

.form__wrapper .row {
        margin:10px -15px;
    }

.form__wrapper .row > div {
        padding:0 15px;
    }

.form__wrapper .col_half {

        width:100%;
        float:left;
    }

@media (min-width: 768px) {

.form__wrapper .col_half {
            width:50%;
            float:left
    }
    }

.form__wrapper .col-med-one {
        width:100%;
    }

@media (min-width: 768px) {

.form__wrapper .col-med-one {
            widows: 33.3333%;
            float:left
    }
    }

.form__wrapper .col-large-half {
        width:50%;
        float:left;
    }

@media (min-width: 768px) {

.form__wrapper .col-large-half {
            width:50%;
            float:left
    }
    }

.form__wrapper label {
        color:#373737;
        display: block;
        margin: 5px;
    }

.form__wrapper .input_field,  .form__wrapper .textarea_field  {
        position:relative;
    }

.form__wrapper .input_field > span, .form__wrapper .textarea_field > span {
        position:absolute;
        left:0;
        top:0;
        color: rgba(55,55,55,.5);
        height:100%;
        border-right: 1px solid rgba(55,55,55,.2);
        text-align:center;
        width:30px;
    }

.form__wrapper .textarea_field > span {
        border-bottom: 1px solid rgba(55,55,55,.5);
	    max-height:35px;

    }

.form__wrapper  .input_field > span > i, .form__wrapper .textarea_field > span > i {
        padding-top:12px;
    }

.form__icon {
        color:#373737;
    }

.form__wrapper input[type="text"], .form__wrapper input[type="email"], .form__wrapper input[type="tel"], .form__wrapper input[type="number"], .form__wrapper select, .form__wrapper textarea {
        color: rgba(55,55,55,.5);
        width:100%;
        padding:10px 10px 10px 35px;
        border: 1px solid rgba(55,55,55,.2);
        outline:none;
        -webkit-transition: all 0.30s ease-in-out;
        transition: all 0.30s ease-in-out;
    }

.form__wrapper textarea {
        height:8em;
        width: 100%;
    }

.form__wrapper input[type="text"]:focus, .form__wrapper input[type="email"]:focus, .form__wrapper input[type="tel"]:focus, .form__wrapper select, .form__wrapper textarea:focus {
        -webkit-box-shadow: 0 0 2px 1px rgba(163,39,60, 0.5);
        box-shadow: 0 0 2px 1px rgba(187,225,244, 0.5);
        border:1px solid #bbe1f4;

    }

.form__wrapper input[type="submit"] {
        background:#a3273c;
        height:50px;
        line-height:50px;
        width:100%;
        border:none;
        outline:none;
        cursor:pointer;
        color:#fff;
        font-size:1.2em;
        -webkit-transition: all 0.30s ease-in-out;
        transition: all 0.30s ease-in-out;
    }

.form__wrapper  input[type="submit"]:hover, .form__wrapper  input[type="submit"]:focus {
        background:#bbe1f4;
    }
